## Knight Frank assessment for ESG Data Analyst
Exploratory Data Analysis for Leeds building ESG variables and price property transect

In [16]:
##########################################
#Knight Frank ESG Data Analyst Assessment#
#Maintainer: Christopher Chan            #
#Date: 2024-12-17                        #
#Version: 0.0.1                          #
##########################################

# Data ingestion

import os, sys, re
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from pathlib import Path

data_raw = Path("../data/01_raw")

with open(f"{data_raw}/Property Data -- data science test.csv", "r") as df:
    prop_df = pd.read_csv(df, index_col = 0)

with open(f"{data_raw}/UK train and metro stations.csv", "r") as df:
    rail_df = pd.read_csv(df)

/var/folders/tz/q11qj2t518z2mqsm9xzdw7r00000gn/T/ipykernel_2628/3115079515.py:20: DtypeWarning: Columns (30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  prop_df = pd.read_csv(df, index_col = 0)

In [19]:
prop_df

,LRUniqueID,SalePrice,SaleDate,PCUnit,PropertyType,NewBuild,Tenure,Add1,Add2,Add3,...,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,ENERGY_CONSUMPTION_CURRENT,ENERGY_CONSUMPTION_POTENTIAL,MAINS_GAS_FLAG,BUILT_FORM,CONSTRUCTION_AGE_BAND,LMK_KEY,Latitude,Longitude
0,{25E9DA81-B7DF-555E-E063-4704A8C066F2},137000,13/05/2024,WF3 3PT,Flat,N,Leasehold,"THORPE LODGE, 1",APARTMENT 15,LONGTHORPE LANE,...,83,83,98,98.0,Y,Enclosed Mid-Terrace,England and Wales: 2007-2011,610a8835dc04b20d281b109ec00dfdfa0579c3bc61245c...,-1.499851,53.73222
1,{25E9DA81-B7E4-555E-E063-4704A8C066F2},166500,18/10/2024,LS9 8DR,Flat,N,Leasehold,THE GATEWAY WEST,APARTMENT 516,EAST STREET,...,73,84,196,206.0,N,Detached,England and Wales: 1983-1990,1070e314340aec8bd973e526adf31b1daa1572acffd76a...,-1.532739,53.794209
2,{25E9DA81-B814-555E-E063-4704A8C066F2},126000,17/10/2024,LS13 3PG,Terraced,N,Freehold,30,,WESTOVER ROAD,...,59,77,315,181.0,Y,Mid-Terrace,England and Wales: 1900-1929,4.95171E+32,-1.633549,53.812587
3,{25E9DA81-B83C-555E-E063-4704A8C066F2},116000,11/10/2024,LS28 7RZ,Flat,N,Leasehold,"ST LAWRENCE VIEW, 55",3,CHAPELTOWN,...,74,81,246,249.0,N,Detached,England and Wales: 2007-2011,5827fa017c1d81c1ea45744439480e3f88eb5a99203fd8...,-1.670049,53.79255
4,{25E9DA81-B881-555E-E063-4704A8C066F2},187000,17/07/2024,LS16 5RQ,Flat,N,Leasehold,35,,MONTGOMERY AVENUE,...,64,77,316,287.0,N,Mid-Terrace,England and Wales: 1996-2002,3.09074E+32,-1.58896,53.829172
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151331,{E9700192-C579-42F0-B5BA-A06602429B80},218000,21/11/2014,LS17 6SD,Semi-Detached,N,Freehold,16,,TALBOT RISE,...,58,83,257,95.0,Y,Semi-Detached,England and Wales: 1930-1949,1.2025E+33,,
151332,{E97BD64E-DC00-42DB-950E-4D79BA55B296},186500,17/06/2014,LS4 2TN,Semi-Detached,N,Freehold,48,,EDEN DRIVE,...,58,79,267,126.0,Y,Semi-Detached,England and Wales: 1930-1949,1.11129E+33,,
151333,{E99A7BEF-D96E-4E4D-8142-1DE29F2EDD68},250000,14/09/2007,LS17 9HD,Semi-Detached,N,Freehold,5,,SOUTH BANK,...,60,80,235,116.0,Y,Semi-Detached,England and Wales: 1930-1949,8.78129E+32,,
151334,{E99C2D8F-AD57-4066-BCF8-57062B54C970},364500,02/07/2012,LS6 1AX,Terraced,N,Freehold,1,,ASH GROVE,...,59,61,263,249.0,Y,Mid-Terrace,England and Wales: 1900-1929,5.67805E+32,,
151335,{E9A9A904-87F5-4CE6-95D8-E21BDCE6ABCF},119500,15/10/2010,LS26 9HZ,Semi-Detached,N,Freehold,87,,MAIN STREET,...,58,74,334,211.0,Y,Semi-Detached,England and Wales: 1950-1966,3.82133E+32,,

In [20]:
rail_df

                                Station       x       y        lat       lng
0                 Aberdare Rail Station  300400  202800  51.715058 -3.443083
1              Brent Cross West Station  523085  186998  51.568429 -0.225488
2                 Aberdour Rail Station  319100  685400  56.054592 -3.300560
3                Aberdovey Rail Station  260600  296000  52.543957 -4.057067
4                     Aber Rail Station  314870  186950  51.574966 -3.229828
...                                 ...     ...     ...        ...       ...
3644   Balfour Street (Edinburgh Trams)  326672  675331  55.965364 -3.176258
3645    McDonald Road (Edinburgh Trams)  326338  674815  55.960678 -3.181465
3646    Picardy Place (Edinburgh Trams)  325998  674391  55.956817 -3.186794
3647    Talbot Road (Blackpool Tramway)  330675  436390  53.819144 -3.054507
3648  North Station (Blackpool Tramway)  330971  436596  53.821035 -3.050058

[3649 rows x 5 columns]